.analytics_page_container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    /* overflow-x: hidden; */
}

p {
    display: inline;
}

.analytics_page_analytics_container{
    width: 73%;
    max-height: 100%;
    z-index: 90;
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    overflow-y: auto; 
    /* overflow-x: hidden; */
}

.analytics_page_map_container{
    position: sticky;
    top: 0;
    /* left: 0; */
    width: 27%;
    height: 100vh;
    /* overflow-x: hidden; */
    /* overflow-y: visible; */
}