.analytics_page_container {
    width: 100%;
    display: flex;
    height: 100vh;
    /* flex-direction: row; */
}

p {
    display: inline;
}

.analytics_page_analytics_container{
    width: 73%;
    height: 100%;
    z-index: 90;
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:end;
}

.analytics_page_map_container{
    width: 27%;
    height: auto;
}