.dataCard {
  position: relative;
  overflow: hidden;
    position: fixed;
  bottom: 0;
  left: 0;
  transition: 1s ease-in-out;
  background-color: white;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 20rem;
  background-color: #ebf4f8;
  z-index: 999;
  display: flex;
  /* justify-content: center; */
  font-family: Helvetica Neue;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #1e2019;
  /* align-items: center; */
  width: 27%;
}

.hid-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem;
}

.dataCard-close{
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.dataCard-close:hover{
  transform: scale(1.5);
}