.App {
    background: #FDFFFC;
    width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  /* overflow-x: hidden; */
}

.overflowing-content {
    overflow: hidden; /* Display scrollbars if content overflows */
    /* Additional styling */
  }

.map_app{
  display: none;
}