.interest_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.interest_container h2 {
  color: #1e2019;
  font-family: Helvetica Neue;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
}

.financial_health,
.financial_disparities,
.financial_planning {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.interest_right_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
    gap: 10px;
}

.interest_left_container {
  flex: 1;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
    gap: 10px;
}


.financial_health ul,
.financial_disparities ul,
.financial_planning ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.financial_health li,
.financial_disparities li,
.financial_planning li {
  color: #7c9cbf;
  background: var(--disabled, #ebf4f8);
  border-radius: 2rem;
  list-style: none;
  padding: 1.25rem 3rem;

  /* description */
  font-family: Helvetica Neue;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* transition: 0.3s ease-in-out; */
}

.interest_container li:hover{
    cursor: pointer;
    background: #D81E5B;
    color: white;
}


@media (max-width: 1300px) {
  .interest_container{
    align-items: center;
    width: 80rem;
  }
}

@media (max-width: 821px){
  .financial_health li,
.financial_disparities li,
.financial_planning li {
  color: #7c9cbf;
  background: var(--disabled, #ebf4f8);
  border-radius: 2rem;
  list-style: none;
  padding: 1.25rem 3rem;

  /* description */
  font-family: Helvetica Neue;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* transition: 0.3s ease-in-out; */
}

.interest_right_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
    /* gap: 10px; */
    /* width: 50%; */
}

.interest_container > img {
  width: 400px;
}

.interest_right_container img,
.interest_left_container img{
  width: 400px;
}
}
