
.circle {
    z-index: 1;
    cursor: pointer;
}

.node-circle {
    fill: #000;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.demo-circle {
    fill: #D81E5B
}

.root-circle {
    fill: rgba(14, 81, 142);
}

.fin-circle {
    fill: #70B77E;
}

.labor-circle {
    fill: #FF9F1C;
}

.normal-circle {
    fill: #000;
}

.map_parent_container {
    width: 800;
    height: 800;
}

text {
    z-index: 3;
}